.article-list
  list-style: none
  width: 100%
  max-width: 650px
  margin: 0 auto
.article
  padding: 25px 10px 15px 10px
  margin-bottom: 10px
  border-bottom: 1px solid var(--c-divider-light)
  transition: all 0.2s
  &-describe
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    color: var(--c-text-light)
  &-header
    display: flex
    justify-content: space-between
    align-items: baseline
    margin-bottom: 10px
  &-title
    flex: 1
  &-date
    width: 90px
    color: var(--c-text-lighter)
    margin-left: 12px
  &:hover
    transform: scale(1.03)
    box-shadow: 5px 5px 10px #3eaf7c66
.article-list
  a
    text-decoration: none
.article-title
  margin: 0