// 深色模式覆盖 vitepress 内置变量，自动适配深色模式
@media (prefers-color-scheme: dark)
  :root
    --c-bg: #121212
    --c-text: rgba(255, 255, 255, 0.85)
    --c-text-light: rgba(255, 255, 255, 0.65)
    --c-text-lighter: rgba(255, 255, 255, 0.45)
    --c-divider-light: rgba(195, 195, 188, 0.45);

    --c-brand: #37976c;
    --c-brand-light: #2f7857;